<!-- Top section with email and phone number -->
<nav class="sticky-container">
<div class="container-fluid bg-black text-light py-1">
    <div class="row align-items-center p-2">
      <div class="col-12 col-md-6 d-flex align-items-center justify-content-start">
        <i class="bi bi-envelope me-2"></i>
        <span>uscricstore&#64;gmail.com</span>
        <i class="bi bi-telephone ms-4 me-2"></i>
        <span>+1 (510) 598-0288</span>
      </div>
      

    


  <div class=" col-12 col-md-6 d-flex justify-content-end align-items-center ">
    <span class="icon">
        <i class="fas fa-heart"></i>
        <span class="count">0</span>
      </span>
      <span class="icon">
        <i class="fas fa-shopping-cart "></i>
        <span class="count">0</span>
      </span>

      <span class="">$0.00</span>

      <span class="icon">
        <i class="fas fa-user"></i>

        
      </span>
        
      </div>
  
    </div>
  </div>
  
  <!-- Navbar section -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-black py-2 ">
    <div class="container-fluid">
     
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto ">
            <li class="nav-item dropdown ">
                <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Bats
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">English Willow</a></li>
                  <li><a class="dropdown-item" href="#">Kashmir Willow</a></li>
                </ul>
              </li>
              
          
          
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="navbarDropdownBalls" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Balls
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownBalls">
              <li><a class="dropdown-item" href="#">Cricket Balls</a></li>
              <li><a class="dropdown-item" href="#">Practice Balls</a></li>
            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="navbarDropdownShoes" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Shoes
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownShoes">
              <li><a class="dropdown-item" href="#">Cricket Shoes</a></li>
              <li><a class="dropdown-item" href="#">Training Shoes</a></li>
            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="navbarDropdownBattingEquipment" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Batting Equipment
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownBattingEquipment">
              <li><a class="dropdown-item" href="#">Batting Gloves</a></li>
              <li><a class="dropdown-item" href="#">Batting Pads</a></li>
              <li><a class="dropdown-item" href="#">Helmets</a></li>
            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="navbarDropdownKeepers" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Keepers
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownKeepers">
              <li><a class="dropdown-item" href="#">Wicket Keeping Gloves</a></li>
              <li><a class="dropdown-item" href="#">Wicket Keeping Pads</a></li>
              <li><a class="dropdown-item" href="#">Wicket Keeping Helmets</a></li>
            </ul>
          </li>
          
        </ul>
        

          
        <a class="navbar-brand mx-auto" href="#">
            <img  src="https://www.uscricketstore.com/admin/public/uploads/all/F3sBvoXYRVMFVwqJa2ghzXqZTTnzEqU93jPvxEnE.png" alt="Logo" id="logo" width="150">
        </a>
          
          
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <a class="nav-link " href="#" id="navbarDropdownClothing" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Clothing
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownClothing">
                  <li><a class="dropdown-item" href="#">Cricket Jerseys</a></li>
                  <li><a class="dropdown-item" href="#">Cricket Trousers</a></li>
                  <li><a class="dropdown-item" href="#">Tracksuits</a></li>
                </ul>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link " href="#" id="navbarDropdownBags" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Bags
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownBags">
                  <li><a class="dropdown-item" href="#">Kit Bags</a></li>
                  <li><a class="dropdown-item" href="#">Duffel Bags</a></li>
                  <li><a class="dropdown-item" href="#">Wheel Bags</a></li>
                </ul>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link " href="#" id="navbarDropdownAccessories" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Accessories
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownAccessories">
                  <li><a class="dropdown-item" href="#">Grip</a></li>
                  <li><a class="dropdown-item" href="#">Toe Guard</a></li>
                  <li><a class="dropdown-item" href="#">Wrist Band</a></li>
                  <li><a class="dropdown-item" href="#">Helmet Face Shield</a></li>
                </ul>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link " href="#" id="navbarDropdownTraining" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Training
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownTraining">
                  <li><a class="dropdown-item" href="#">Training Kits</a></li>
                  <li><a class="dropdown-item" href="#">Training Shoes</a></li>
                  <li><a class="dropdown-item" href="#">Training Accessories</a></li>
                </ul>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link " href="#" id="navbarDropdownBookALane" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Book a Lane
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownBookALane">
                  <li><a class="dropdown-item" href="#">Indoor Lane</a></li>
                  <li><a class="dropdown-item" href="#">Outdoor Lane</a></li>
                  <li><a class="dropdown-item" href="#">Private Coaching</a></li>
                </ul>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdownAcademy" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Academy
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownAcademy">
                  <li><a class="dropdown-item" href="#">Cricket Coaching</a></li>
                  <li><a class="dropdown-item" href="#">Junior Academy</a></li>
                  <li><a class="dropdown-item" href="#">Summer Camps</a></li>
                </ul>
              </li>
              
        </ul>
      </div>
    </div>
  </nav>
</nav>

    
  

 
  <!-- Search Bar (Only visible on large screens) -->
<div class="container-fluid bg-light py-3 d-none d-lg-block">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search products...">
          <button class="btn btn-danger">Search</button>
        </div>
      </div>
    </div>
  </div>
 

  <!-- Mobile Sidebar Toggle -->
<nav class="navbar navbar-expand-lg navbar-dark bg-black py-2">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileSidebar"
            aria-controls="mobileSidebar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<!-- Off-canvas Sidebar -->
<div class="offcanvas offcanvas-start bg-black text-light" tabindex="-1" id="mobileSidebar"
    aria-labelledby="mobileSidebarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="mobileSidebarLabel">Search & Menu</h5>
       
        <button type="button" class="btn-close text-reset btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="text-center mb-3">
            <a class="navbar-brand mx-auto" href="#">
                <img id="logo" src="https://www.uscricketstore.com/admin/public/uploads/all/F3sBvoXYRVMFVwqJa2ghzXqZTTnzEqU93jPvxEnE.png" alt="Logo" width="150">
            </a>
        </div>
        <!-- Search bar -->
        <form class="d-flex mb-3">
            <input class="form-control me-2" type="search" placeholder="Search in..." aria-label="Search">
            <button class="btn btn-danger" type="submit">Go</button>
        </form>

        <!-- Menu Items with Dropdowns -->
        <ul class="navbar-nav flex-column">
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#batsCollapse" role="button"
                    aria-expanded="false" aria-controls="batsCollapse">Bats</a>
                <div class="collapse" id="batsCollapse">
                    <ul class="list-unstyled ps-3">
                        <li><a href="#" class="nav-link">English Willow</a></li>
                        <li><a href="#" class="nav-link">Kashmir Willow</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#ballsCollapse" role="button"
                    aria-expanded="false" aria-controls="ballsCollapse">Balls</a>
                <div class="collapse" id="ballsCollapse">
                    <ul class="list-unstyled ps-3">
                        <li><a href="#" class="nav-link">Leather Balls</a></li>
                        <li><a href="#" class="nav-link">Tennis Balls</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#shoesCollapse" role="button"
                    aria-expanded="false" aria-controls="shoesCollapse">Shoes</a>
                <div class="collapse" id="shoesCollapse">
                    <ul class="list-unstyled ps-3">
                        <li><a href="#" class="nav-link">Cricket Shoes</a></li>
                        <li><a href="#" class="nav-link">Training Shoes</a></li>
                        <li><a href="#" class="nav-link">Casual Shoes</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#battingEquipCollapse" role="button"
                    aria-expanded="false" aria-controls="battingEquipCollapse">Batting Equipment</a>
                <div class="collapse" id="battingEquipCollapse">
                    <ul class="list-unstyled ps-3">
                        <li><a href="#" class="nav-link">Batting Pads</a></li>
                        <li><a href="#" class="nav-link">Batting Gloves</a></li>
                        <li><a href="#" class="nav-link">Helmets</a></li>
                        <li><a href="#" class="nav-link">Thigh Guards</a></li>
                        <li><a href="#" class="nav-link">Arm Guards</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#keepersCollapse" role="button"
                    aria-expanded="false" aria-controls="keepersCollapse">Wicket Keepers</a>
                <div class="collapse" id="keepersCollapse">
                    <ul class="list-unstyled ps-3">
                        <li><a href="#" class="nav-link">Wicket Keeper Gloves</a></li>
                        <li><a href="#" class="nav-link">Wicket Keeper Pads</a></li>
                        <li><a href="#" class="nav-link">Wicket Keeper Helmets</a></li>
                        <li><a href="#" class="nav-link">Chest Guards</a></li>
                        <li><a href="#" class="nav-link">Thigh Guards</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#clothingCollapse" role="button"
                    aria-expanded="false" aria-controls="clothingCollapse">Clothing</a>
                <div class="collapse" id="clothingCollapse">
                    <ul class="list-unstyled ps-3">
                        <li><a href="#" class="nav-link">Cricket Jerseys</a></li>
                        <li><a href="#" class="nav-link">Cricket Pants</a></li>
                        <li><a href="#" class="nav-link">Training Kits</a></li>
                        <li><a href="#" class="nav-link">Practice Wear</a></li>
                        <li><a href="#" class="nav-link">Sweatshirts</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#bagsCollapse" role="button"
                    aria-expanded="false" aria-controls="bagsCollapse">Bags</a>
                <div class="collapse" id="bagsCollapse">
                    <ul class="list-unstyled ps-3">
                        <li><a href="#" class="nav-link">Cricket Bags</a></li>
                        <li><a href="#" class="nav-link">Duffle Bags</a></li>
                        <li><a href="#" class="nav-link">Backpacks</a></li>
                        <li><a href="#" class="nav-link">Equipment Bags</a></li>
                        <li><a href="#" class="nav-link">Bat Bags</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#accessoriesCollapse" role="button"
                    aria-expanded="false" aria-controls="accessoriesCollapse">Accessories</a>
                <div class="collapse" id="accessoriesCollapse">
                    <ul class="list-unstyled ps-3">
                        <li><a href="#" class="nav-link">Arm Guards</a></li>
                        <li><a href="#" class="nav-link">Thigh Guards</a></li>
                        <li><a href="#" class="nav-link">Chest Guards</a></li>
                        <li><a href="#" class="nav-link">Bat Grips</a></li>
                        <li><a href="#" class="nav-link">Ball Shiners</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#trainingCollapse" role="button"
                    aria-expanded="false" aria-controls="trainingCollapse">Training</a>
                <div class="collapse" id="trainingCollapse">
                    <ul class="list-unstyled ps-3">
                        <li><a href="#" class="nav-link">Training Aids</a></li>
                        <li><a href="#" class="nav-link">Cricket Balls</a></li>
                        <li><a href="#" class="nav-link">Drills & Exercises</a></li>
                        <li><a href="#" class="nav-link">Training Kits</a></li>
                        <li><a href="#" class="nav-link">Fitness Equipment</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#bookLaneCollapse" role="button"
                    aria-expanded="false" aria-controls="bookLaneCollapse">Book a Lane</a>
                <div class="collapse" id="bookLaneCollapse">
                    <ul class="list-unstyled ps-3">
                        <li><a href="#" class="nav-link">Lane Availability</a></li>
                        <li><a href="#" class="nav-link">Reserve a Lane</a></li>
                        <li><a href="#" class="nav-link">Cancel Reservation</a></li>
                        <li><a href="#" class="nav-link">Pricing Information</a></li>
                        <li><a href="#" class="nav-link">FAQs</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#academyCollapse" role="button"
                    aria-expanded="false" aria-controls="academyCollapse">Academy</a>
                <div class="collapse" id="academyCollapse">
                    <ul class="list-unstyled ps-3">
                        <li><a href="#" class="nav-link">Training Programs</a></li>
                        <li><a href="#" class="nav-link">Coaching Staff</a></li>
                        <li><a href="#" class="nav-link">Upcoming Events</a></li>
                        <li><a href="#" class="nav-link">Registration</a></li>
                        <li><a href="#" class="nav-link">Contact Us</a></li>
                    </ul>
                </div>
            </li>
            
            
            
            
            
            
            
            
            

            

           
            <!-- Add more collapsible categories as needed -->
        </ul>

        <!-- Social Media Icons at the bottom -->
        <div class="social-icons mt-4 text-center">
            <a href="#" class="me-3"><i class="fab fa-whatsapp text-light"></i></a>
            <a href="#" class="me-3"><i class="fab fa-facebook text-light"></i></a>
            <a href="#"><i class="fab fa-instagram text-light"></i></a>
        </div>
    </div>
</div>

<!-- Image Section -->
<div style="height: 400px; background: url('https://www.uscricketstore.com/public/frontend/assets/images/homepagebanner.webp') center center / cover no-repeat;">
</div>


  
