<div class="video-gallery-section">
    <div class="container">
      <h2 class="video-gallery-title">Watch Our Latest Videos</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="video-item">
            <iframe width="100%" height="215" src="https://www.youtube.com/embed/samplevideo1" frameborder="0" allowfullscreen></iframe>
            <h5>Video Title 1</h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="video-item">
            <iframe width="100%" height="215" src="https://www.youtube.com/embed/samplevideo2" frameborder="0" allowfullscreen></iframe>
            <h5>Video Title 2</h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="video-item">
            <iframe width="100%" height="215" src="https://www.youtube.com/embed/samplevideo3" frameborder="0" allowfullscreen></iframe>
            <h5>Video Title 3</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  
