<!-- Services Section - Infinite Image Slider -->
<div class="row  container p-5">
    
    <div class="left-content">
        <h5>Cricket Accessories</h5>
        <p>At US Cricket Store, we offer additional services and facilities on top of our range of Cricket inventory.</p>
    </div>
    <div class="slider-wrapper">
       <div class="slider">
        <div class="slider-item">
            <img src="assets/images/img1.jpg"alt="Service 1">
            <p>Keepers</p>
        </div>
      
        
            <div class="slider-item">
                <img src="assets/images/img2.jpg" alt="Service 2" >
                <p>Balls</p>
            </div>
      

        
            <div class="slider-item">
                <img src="assets/images/batimg.jpg" alt="Service 2" >
                <p>Bats</p>
            </div>
       
        
        
            <div class="slider-item">
                <img src="assets/images/battingequp.jpg" alt="Service 2">
                <p>Batting Aquipments</p>
            </div>
        
        
        
            <div class="slider-item">
                <img src="assets/images/shoe.jpg" alt="Service 2">
                <p>Shoes</p>
            </div>
        
        </div>
        
        
    </div>
</div>
