<div class="row box">
    
    <div class="col-md-6 left">
      <img src="/assets/images/play.jpg" alt="Coach Image">
    </div>
    <div class="col-md-6 right">
        <h2>Summer Camp</h2>
        <p>
          Enroll your kids in the #1 cricket camp this summer—CricKingdom Cricket Academy by Rohit Sharma at the US Cricket Store. Our specialized program for children aged 6 to 9 and 10 to 14 combines advanced skill-building with fun games and interactive sessions to keep young cricket enthusiasts motivated throughout the summer. Participants will have the opportunity to polish their skills and learn the fundamentals of batting, bowling, fielding, and wicketkeeping under the expert guidance of experienced cricketers. Our camp provides a perfect blend of fun and skill development, ensuring a fantastic experience for all attendees. With a focus on creating a supportive and engaging environment, your kids will enjoy a summer filled with cricket excellence, fun, and new friendships. Enroll now for a memorable cricket adventure!
        </p>
        
        <a href="https://www.example.com/enroll" target="_blank" class="enroll-btn">Enroll Now</a>
      </div>
  </div>
  
