<div class="row video-section">
  <div class="col-md-6 video-left">
    <h2>ENROLL NOW</h2>
    <a href="https://www.youtube.com/" target="_blank">
     
      <div class="play-button">
        <i class="bi bi-play-circle"></i>
      </div>
    </a>
  </div>
  <div class="col-md-6 video-right">
    <h3>LET'S PLAY!</h3>
    <p>
      At US Cricket Store, we offer additional services and facilities on top
      of our range of Cricket inventory.
    </p>
    <a href="https://www.youtube.com/" target="_blank" class="schedule-btn">
      <i class="bi bi-calendar-event"></i> Schedule Now
    </a>
  </div>
</div>
<div class=" mt-2 middle-image">
  <img src="/assets/images/middle-image.jpg" alt="" class="container-fluid">
</div>
