<div class="newsletter-section">
    <h2>NEWSLETTER</h2>
    <div class="newsletter-form">
      <input type="email" placeholder="Enter your email">
      <button class="subscribe-btn">Subscribe</button>
    </div>
    <p class="newsletter-desc">
      Subscribe to keep up with fresh news and exciting updates. We promise not to spam you!
    </p>
  </div>
  
  <div class="footer-section">
    <div class="container">
      <div class="row">
        <!-- Footer Left Section -->
        <div class="col-md-3 ">
            <img  src="https://www.uscricketstore.com/admin/public/uploads/all/F3sBvoXYRVMFVwqJa2ghzXqZTTnzEqU93jPvxEnE.png" alt="Logo" id="logo" width="150">
          <div class="payment-options mt-3">
            <img src="assets/images/cards.png" alt="Payment Methods">
          </div>
        </div>
        <!-- Useful Links -->
        <div class="col-md-3">
          <h3>USEFUL LINKS</h3>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Academy</a></li>
            <li><a href="#">Book A Lane</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <!-- other Links -->
        <div class="col-md-3">
            <h3>OTHER LINKS</h3>
            <ul>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Return Policy</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Warranty Policy</a></li>
            </ul>
          </div>
        <!--  Links -->
        <div class="col-md-3">
          <h3>REACH US</h3>
          <p><i class="bi bi-geo-alt"></i> 121 Ranch Dr, Milpitas, CA 95035</p>
          <p><i class="bi bi-telephone"></i> +1 (510) 598-0288</p>
          <p><i class="bi bi-envelope"></i> uscricstore&#64;gmail.com</p>
        </div>
      </div>
    </div>
  </div>
  
